<section class="section">
  <div class="container">
    <h1 class="center-align">About Biblos</h1>
    <p class="flow-text center-align">
      Biblos System es un sistema integral diseñado para facilitar la 
      administración eficiente de bibliotecas, ofreciendo herramientas
      y funciones avanzadas para gestionar recursos bibliográficos y
      mejorar la experiencia tanto para los bibliotecarios como para
      los usuarios finales.
    </p>
    <p class="divider"></p>
    <p style="text-align: center;">App Version: {{ appVersion }}</p>
  </div>
</section>