<h1>:( Servicio no disponible temporalmente</h1>
<h2>Intente más tarde</h2>
<div class="container ">
    <img src="https://http.cat/{{status}}" alt="Error 503" width="350px" height="350px" class="card-image">
</div>